<br><br>
<td class="td-big" style="width: 10%;">Prices</td>
<br><br><br><br>
<table class="small-table">
  <div *ngFor="let Price of prices">
    <ul>
      <th>
        {{Price.price}}
      </th>
      <th class="name-product">
        {{Price.productName}}
      </th>
      <th>
        {{Price.productTags}}
      </th>
      <th>
        {{Price.shopName}}
      </th>
      <th>
        {{Price.shopTags}}
      </th>
    </ul>
  </div>

</table>
<table class="big-table">
  <thead>
    <tr>
      <td class="down-td">Start</td>
      <td class="down-td">Count</td>
      <td class="down-td">Total</td>
      <!-- <td>Products</td> -->
    </tr>
  </thead>
  <tbody>

    <td class="down-td">{{data.start}}</td>
    <td class="down-td">{{data.count}}</td>
    <td class="down-td">{{data.total}}</td>
    <!-- <table class="small-table">
        <div *ngFor="let product of products">
          <ul>
            {{product.id}} , {{product.name}}, {{product.description}}, {{product.tags}}, {{product.category}}
          </ul>
         </div>
     
    </table> -->
  </tbody>
</table>
