<br><br>
<td class="td-big" style="width: 10%;">Shops</td>
<br><br><br><br>
<table class="small-table">
  <div *ngFor="let shop of shops">
    <ul>
      <th>
        {{shop.id}}
      </th>
      <th class="name-product">
        {{shop.name}}
      </th>
      <th>
        {{shop.address}}
      </th>
      <th>
        {{shop.tags}}
      </th>
    </ul>
  </div>

</table>
<table class="big-table">
  <thead>
    <tr>
      <td class="down-td">Start</td>
      <td class="down-td">Count</td>
      <td class="down-td">Total</td>
      <!-- <td>Products</td> -->
    </tr>
  </thead>
  <tbody>

    <td class="down-td">{{data.start}}</td>
    <td class="down-td">{{data.count}}</td>
    <td class="down-td">{{data.total}}</td>
    <!-- <table class="small-table">
        <div *ngFor="let product of products">
          <ul>
            {{product.id}} , {{product.name}}, {{product.description}}, {{product.tags}}, {{product.category}}
          </ul>
         </div>
     
    </table> -->
  </tbody>
</table>

<!-- <br><br>
<table>
  <thead>
    <tr>
      <td>Start</td>
      <td>Count</td>
      <td>Total</td>
      <td>Shops</td>
    </tr>
  </thead>
  <tbody>

    <td>{{data.start}}</td>
    <td>{{data.count}}</td>
    <td>{{data.total}}</td>
    <table>
        <div *ngFor="let shop of shops">
          <ul>
            {{shop.id}} , {{shop.name}}, {{shop.address}}, {{shop.tags}}
          </ul>
         </div>
    </table>
  </tbody>
</table> -->