<br>

<caption>Shops</caption>
<br><br><br><br>
<table mat-table [dataSource]="shops">

    <ng-container matColumnDef="id"> 
        <th mat-header-cell *matHeaderCellDef> Id</th>
        <td mat-cell *matCellDef="let shops"> {{shops.id}} </td>
      </ng-container>
    
      <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef> Name</th>
          <td mat-cell *matCellDef="let shops"> {{shops.name}} </td>
      </ng-container>
      
      <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef> Address</th>
          <td mat-cell *matCellDef="let shops"> {{shops.address}} </td>
      </ng-container>  

      <tr mat-header-row *matHeaderRowDef="columnsdis"></tr>
      <tr mat-row *matRowDef="let myRowData; columns: columnsdis"></tr>

</table>

<table class="big-table">
  <thead>
    <tr>
      <td class="down-td">Start</td>
      <td class="down-td">Count</td>
      <td class="down-td">Total</td>
      <!-- <td>Products</td> -->
    </tr>
  </thead>
  <tbody>

    <td class="down-td">{{data.start}}</td>
    <td class="down-td">{{data.count}}</td>
    <td class="down-td">{{data.total}}</td>
    <!-- <table class="small-table">
        <div *ngFor="let product of products">
          <ul>
            {{product.id}} , {{product.name}}, {{product.description}}, {{product.tags}}, {{product.category}}
          </ul>
         </div>
     
    </table> -->
  </tbody>
</table>

<!-- <br><br>
<table>
  <thead>
    <tr>
      <td>Start</td>
      <td>Count</td>
      <td>Total</td>
      <td>Shops</td>
    </tr>
  </thead>
  <tbody>

    <td>{{data.start}}</td>
    <td>{{data.count}}</td>
    <td>{{data.total}}</td>
    <table>
        <div *ngFor="let shop of shops">
          <ul>
            {{shop.id}} , {{shop.name}}, {{shop.address}}, {{shop.tags}}
          </ul>
         </div>
    </table>
  </tbody>
</table> -->