<header>
  <div class="container">
    <img src="favicon.ico" alt="Avatar" class="image">
    <nav>
      <ul>
        <li><a routerLink="/">{{title1}}</a></li>
        <li><a routerLink="/search">{{title2}}</a></li>
        <li><a routerLink="/about">{{title3}}</a></li>
        <li><a routerLink="/insert">{{title6}}</a></li>
        <li><a routerLink="/map">{{title7}}</a></li>


          <li><a routerLink="/login">{{title4}} </a></li>
          <li><a routerLink="/register">{{title5}} </a></li>
      </ul>
    </nav>
  </div>
</header>
