<form [formGroup]="userLogin" (ngSubmit)="onSubmit()" class="text-center border border-light p-5">

  <h1 class="display-4">Sign in</h1>

  <div class="form-row mb-4">
    <div class="col">
      <input type="text" formControlName="username" id="defaultLoginFormUsername" class="form-control"
        placeholder="Username" required>
    </div>
    <div>
      <input type="password" formControlName="password" id="defaultLoginFormPassword" class="form-control mb-4"
      placeholder="Password">

    </div>
    <button class="button" type="submit">Login</button>
  </div>

</form>
