<div id="map" class="map"></div>

<div class="myform">
  <label>Give range</label>
  <tr><input [(ngModel)]="range" placeholder="range in km" type="number" /></tr>

  <label>Date from</label>
  <tr><input [(ngModel)]="dateFrom" type="date" /></tr>

  <label>Date to</label>
  <tr><input [(ngModel)]="dateTo" type="date" /></tr>

  <label>Give Shop Name</label>
  <tr><input [(ngModel)]="shopName" placeholder="shop name" type="text" /></tr>

  <label>Give Product Name</label>
  <tr><input [(ngModel)]="productName" placeholder="product name" type="text" /></tr>
  <button class="button"
    (click)="onSearch(this.range, this.dateFrom, this.dateTo, this.shopName, this.productName)">search</button>
    <a [routerLink]="['/']" class="btn btn-link button">Cancel</a>

</div>

<div class="pointer"></div>

<div class="display-form" [ngStyle]="{left:form_left + 'px',top:form_top+'px'}">{{display_name}} : {{display_value}}
</div>