.map{
  position:absolute;
  top:0px;
  left:0px;
  right:0px;
  bottom:0px;
  background: #ccc;
}

.myform{
  position:absolute;
  height:500px;
  background: white;
  padding:20px;
  border-radius:6px;
}


.pointer{
  position:absolute;
  left:50%;
  top:50%;
  width:8px;
  height:8px;
  border-radius:50%;
  background: red;
}

.display-form{
  position:absolute;
  left:10px;
  top:10px;
  padding:5px;
  background: white;
  z-index: 3;
}