<br><br>
<td class="td-big">Products</td>
<br><br><br><br>
<table class="small-table">
    <div *ngFor="let product of products">
      <ul>
        <th>
            {{product.id}}
        </th>
        <th class= "name-product">
            {{product.name}}
        </th>
      <th>
            {{product.description}}
        </th>
        <th>
            {{product.tags}}
        </th>
        <th>
            {{product.category}}
        </th>
      </ul>
     </div>
 
</table>
<table class= "big-table">
  <thead>
    <tr>
      <td>Start</td>
      <td>Count</td>
      <td>Total</td>
      <!-- <td>Products</td> -->
    </tr>
  </thead>
  <tbody>

    <td>{{data.start}}</td>
    <td>{{data.count}}</td>
    <td>{{data.total}}</td>
    <!-- <table class="small-table">
        <div *ngFor="let product of products">
          <ul>
            {{product.id}} , {{product.name}}, {{product.description}}, {{product.tags}}, {{product.category}}
          </ul>
         </div>
     
    </table> -->
  </tbody>
</table>