*{
  margin-top: 30px;
  margin-left: 80px;
}
/* 
.table-product-search{
  background-color: black;
  text-align: center;
} */
.td-big{
  font-size: 250%;
  position: absolute;
  top: 50%;
  left: 10%;
  
}
.name-product{
  font-family: arial, sans-serif;
  
}
.small-table{

  border-collapse: collapse;
  width: 80%;
  border: 1px solid black;
  padding: 15px;
  border-spacing: 5px;
  background-color:rgba(255, 217, 0, 0.233);
 
}
td, th, ul {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  width:60%;
}
th{
  width:20%;
}
/* tr:nth-child(even) {
  background-color: #dddddd;
} */
.down-td{
    border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
  width: 10%;
}