<form [formGroup]="userRegister" (ngSubmit)="onSubmit()" class="text-center border border-light p-5">
  <h1 class="display-4">Sing Up</h1>

  <div class="form-row mb-4">
    <div class="col">
      <input type="text" formControlName="username" id="defaultRegisterFormUsername" class="form-control"
        placeholder="Username" required>
    </div>

    <div class="col">
      <input type="text" formControlName="name" id="defaultRegisterFormName" class="form-control"
        placeholder="Name" required>
    </div>

    <div class="col">
      <input type="email" formControlName="email" id="defaultRegisterFormEmail" class="form-control mb-4"
      placeholder="E-mail">
    </div>

    <div class="col">
      <input type="password" formControlName="password" id="defaultRegisterFormPassword" class="form-control mb-4"
      placeholder="Password">
    </div>

    <div class="col">
      <input type="password" formControlName="password" id="defaultRegisterFormPasswordR" class="form-control mb-4"
      placeholder="Repeat Password">
    </div>

    <button class="button" type="submit">Register</button>

  </div>

</form>
